@model IEnumerable<Practice.Core.ViewModels.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Index</h2>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEmployeeModal">Create</button>
</p>

<table id="data-table-employees" class="table  table-striped table-bordered">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@Html.Partial("CreateModalPartial")

@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
            loadEmployeesTable();
        });

        function loadEmployeesTable() {
            $('#data-table-employees').DataTable().destroy();
            $('#data-table-employees').DataTable({
                "bServerSide": true,
                "bProcessing": true,
                "searching": false,
                "ajax": {
                    url: '/Employee/GetAllEmployees',
                    type: 'POST'
                },
                paging: true,
                ordering: true,
                bAutoWidth: false,
                "pageLength": 25,
                "order": [[1, "asc"]],
                "columns": [
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    { "data": "PhoneNumber" },
                    { "data": "Address" },
                    { "data": "PostalCode" },
                    { "data": "City" }
                ],
                "columnDefs": [
                    { "targets": 0 },
                    { "targets": 1 },
                    { "targets": 2 },
                    { "targets": 3 },
                    { "targets": 4 },
                    { "targets": 5 },
                ],
                "dom": 'Rlfrtip',
                "bDestroy": true,
                "iDisplayLength": 25,
                "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
            });
        }
      
        $("#createEmployeeButton").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Employee/Create/",
                data: {
                    firstName: $("#FirstName").val(),
                    lastName: $("#LastName").val(),
                    phoneNumber: $("#PhoneNumber").val(),
                    address: $("#Address").val(),
                    postalCode: $("#PostalCode").val(),
                    city: $("#City").val()
                },
                success: function (result) {
                    $("#createEmployeeModal").modal("hide");
                    $("#FirstName").val("");
                    $("#LastName").val("");
                    $("#PhoneNumber").val("");
                    $("#Address").val("");
                    $("#PostalCode").val("");
                    $("#City").val("");

                    alert("Employee has been succesfully created!")
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
    </script>
}
