@model IEnumerable<Practice.Core.ViewModels.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="dataTable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @*<button type="button" class="btn btn-primary" id="btnDelete">Delete</button>*@
                    <a href="" data-toggle="modal" data-target="#deleteModal">Delete</a>
                    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete 
                                    @item.FirstName @item.LastName?</p>

                                   
                                </div>
                               
                              
                                <div class="modal-footer">
                                    @using (Html.BeginForm("Delete", "Employee", new { id = item.Id }))
                                    {
                                        <input type="submit" class="btn btn-primary" value="Delete" />
                                    }
                                    @*<button type="button" class="btn btn-primary">Delete</button>*@
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                  
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@

                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    //$(document).ready(function () {
    //    $("#Delete").modal('show');
    //});
     $(document).ready(function () {  
            $("#btnDelete").click(function () {  
                $("#deleteModal").modal('show');  
            });  
</script>