@model IEnumerable<Practice.Core.ViewModels.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="data-table-employees" class="table  table-striped table-bordered">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            loadEmployeesTable();
        });

        function loadEmployeesTable() {
            $('#data-table-employees').DataTable().destroy();
            $('#data-table-employees').DataTable({
                "bServerSide": true,
                "bProcessing": true,
                "searching": false,
                "ajax": {
                    url: '/Employee/GetAllEmployees',
                    type: 'POST'
                },
                paging: true,
                ordering: true,
                bAutoWidth: false,
                "pageLength": 25,
                "order": [[1, "asc"]],
                "columns": [
                    { "data": "FirstName" },
                    { "data": "LastName" },
                    { "data": "PhoneNumber" },
                    { "data": "Address" },
                    { "data": "PostalCode" },
                    { "data": "City" }
                ],
                "columnDefs": [
                    { "targets": 0 },
                    { "targets": 1 },
                    { "targets": 2 },
                    { "targets": 3 },
                    { "targets": 4 },
                    { "targets": 5 },
                ],
                "dom": 'Rlfrtip',
                "bDestroy": true,
                "iDisplayLength": 25,
                "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
            });
        }
    </script>
}
