@model IEnumerable<Practice.Core.ViewModels.Employee>

@{
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    ViewBag.ActivePage = "Employees";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.RouteUrl("Employees")">Employees</a>
    </li>
    <li class="breadcrumb-item active">List</li>
</ol>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Employees
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#createEmployeeModal"><i class="fas fa-fw fa-plus"></i> Create new employee</button>

        <div class="table-responsive">
            <table class="table table-bordered" id="data-table-employees">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PostalCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@Html.Partial("CreateModalPartial")
@Html.Partial("EditModalPartial")
@Html.Partial("DeleteModalPartial")

@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/employees.js"></script>
}
