@model IEnumerable<Practice.Core.ViewModels.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h2>Index</h2>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEmployeeModal">Create</button>
</p>

<table id="data-table-employees" class="table  table-striped table-bordered">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>Actions</th>
        </tr>
    </thead>


</table>

@Html.Partial("CreateModalPartial")
@Html.Partial("EditModalPartial")
@Html.Partial("DeleteModalPartial")

@section Scripts {
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/js/employees.js"></script>
}
